/* 
    Document   : controlStyle2
*/

.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
}

.button{
    -fx-text-fill: none;
    -fx-border-color: none;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.borders{
    -fx-border-color: white;
    -fx-border-style: dotted;
    -fx-border-width: 1.5;
    -fx-border-insets: -5;
}
                       